{% macro array_to_paragrpah(paragrpahs) %}
  {% for paragrpah in paragrpahs %}
    <p class="mt-4">{{ paragrpah }}</p>
  {% endfor %}
{% endmacro %}

{% macro pagination_controls() %}
  <ol class="flex flex-row justify-center ">
    {% if pagination.href.previous %}
      <a href="{{pagination.href.previous}}">
        <li class="p-2 border rounded-xl mx-2 w-24 h-10 text-center align-middle bg-yellow-300 hover:cursor-pointer">
          previous
        </li>
      </a>

    {% else %}
      <li class="p-2 border rounded-xl mx-2 w-24 h-10 text-center align-middle">
        previous
      </li>
    {% endif %}
  </li>
  {%- for pageEntry in pagination.pages %}
    {% if page.url == pagination.hrefs[ loop.index0 ] %}
      <li class="p-2 border rounded-xl mx-2 w-10 h-10 text-center align-middle bg-red-700" aria-current="page">
        {{ loop.index }}
      </li>
    {% else %}
      <a href="{{ pagination.hrefs[ loop.index0 ] }}">
        <li class="p-2 border rounded-xl mx-2 w-10 h-10 text-center align-middle bg-yellow-300">
          {{ loop.index }}
        </li>
      </a>
    {% endif %}
  {%- endfor %}
  {% if pagination.href.next %}
    <a href="{{pagination.href.next}}">
      <li class="p-2 border rounded-xl mx-2 w-24 h-10 text-center align-middle bg-yellow-300">
        Next
      </li>
    </a>
  {% else %}
    <li class="p-2 border rounded-xl mx-2 w-24 h-10 text-center align-middle ">
      Next
    </li>
  {% endif %}
</ol>
{% endmacro %}